<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast Service</title>
</head>
<body>

 <p> This project is an REST Service based web application that allows to retrieve information of the weather forecast for an
specific city.</p>


 <p> <strong>For a forecast summary use: </strong></p>

<p>* http://weather-information-api.herokuapp.com/weather/summary/berlin/20190506/1800/</p>

 <p><strong> For a forecast detailed use:</strong></p>

<p>* http://weather-information-api.herokuapp.comweather/temperature/berlin/20190506/1800/</p>



</body>
</html>


